<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let repository of repos | async">
    {{ repository }}
  </mat-list-option>
</mat-selection-list>
<router-outlet></router-outlet>
<ul>
  <li *ngFor="let repository of repos | async">
    <strong>{{ repository.descricao }}</strong>
  </li>
</ul>
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
treasd
<br />
